* {
  margin: auto;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  padding: 0.75rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.form input {
  width: 100%;
  max-width: 12rem;
  height: 2rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 0.25rem;
}

.form .submit {
  width: 100%;
}

.form .submit:hover {
  background-color: #eaeaea;
}
